
body {
background-color: floralwhite;
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
}

header {
border-bottom: 1px solid #999;
margin-bottom: 2rem;
display: flex;
}

header h1 a {
color: khaki;
text-decoration: none;
}

.nav-left {
margin-right: auto;
}

.nav-right,
.nav-right a:visited {
color: lightskyblue;
display: flex;
padding-top: 2rem;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
}

.nav-right a:hover {
color:green;
}

.post-delete a,
.post-delete a:visited {
color: lightskyblue;
margin-right: auto;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
}

.post-delete a:hover {
color: red;
}

.post-edit a,
.post-edit a:visited {
color: lightskyblue;
margin-right: auto;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
}

.post-edit a:hover {
color: orange;
}

.post-entry {
margin-bottom: 2rem;
}

.post-entry h2 {
margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
color: lightskyblue;
text-decoration: none;
}

.post-entry p {
margin: 0;
font-weight: 400;
}

.post-entry h2 a:hover {
color: goldenrod;
}

.post-form form {
margin-right: auto;
font-family: 'Source Sans Pro', sans-serif;
font-size: 20px;
}
